.container {
  background-color: var(--bgSoft);
  padding: 1.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.375rem;
  text-align: left;
  transform: scale(1) rotate(0deg);
  transition: transform 2s;
  cursor: pointer;
}

.container:hover {
  transform: scale(1.05) rotate(360deg);
  /* transform: rotate(360deg); */
  background-color: #2e374a;
}

.image {
  width: 100%;

  position: relative;
  border-radius: 10px;
  overflow: hidden;

  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

.text {
  padding-bottom: 0.25rem;
  padding-top: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
}

@media (min-width: 768px) {
  .text {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}
